* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    border: 2px solid;
    height: 100vh;
    background: url(pexels-pixabay-326055.jpg) no-repeat;
    background-position: center;
    background-size: cover;
}

header nav {
    border: 2px solid red;
    display: flex;
    justify-content: space-between;
    padding: 1% 2%;
    background: darkgoldenrod;
}

header nav span {
    font-size: 2rem;
}

header nav ul {
    width: 40%;
    display: flex;
    justify-content: space-between;
    border: 2px solid rebeccapurple;
}

header nav ul li {
    list-style: none;
    font-size: 18px;
    padding: 10px 0;
}

.fa-bars {
    display: none;
}

@media all and (max-width:486px) {
    header nav {
        border: 2px solid red;
        display: flex;
        justify-content: space-between;
        padding: 1% 2%;
        /* background: darkgoldenrod; */
        flex-direction: column;
        position: relative;
    }

    header nav ul {
        /* width: 100%;
        display: flex;
        justify-content: space-between;
        border: 2px solid rebeccapurple;
        flex-direction: column;
        text-align: center;
        position: absolute;
        /* top: -300px;  
        left: 0;
        transition: 1s;
        background: darkgoldenrod;
        */
        width: 50%;
        height: 80vh;
        display: flex;
        justify-content: start;
        border: 2px solid rebeccapurple;
        flex-direction: column;
        text-align: center;
        position: absolute;
        /* top: -300px; */
        left: -210px;
        top: 47px;
        transition: 1s;
        background: darkgoldenrod;
    }

    .fa-bars {
        display: block;
        font-size: 22px;
        position: absolute;
        right: 20px;
        top: 17px;
    }



    #bars:checked~ul {
        position: absolute;
        left: 0px;
        top: 47px;
    }
}